<ion-view  hide-nav-bar='true'>
	<ion-content ng-controller="forgotpassctrl">
	 <div class="itemm item-body">
    <img class="full-image" src="img/howdo.png">
    
  </div>
	<form  name="myForm" ng-submit="submitforpass()" class="form-group"  novalidate>
	<br>
	<br>
	
	
		<h2 style="text-align:center;margin-top:10px;color:#0169b0;">Reset Password</h2><br>
			<br>	
			<br>	
			<br>	
					
			<input type="email" ng-model="usersemail" placeholder="Type Email Here.." style="font-size:initial;height:60px;font-size:16px;width:150px;margin-left:104px;background:#0169b0;color:white;"><br>
					
				
				<br>
				<br>
				
				<button type="submit" style="font-size:15px;height:50px;width:143px;background:#0169b0;color:white;margin-left:105px;">Send Message</button>
	  </form>
	   
	</ion-content>
</ion-view>