<div ng-controller="fromcommunCtrl" >
<div class="bar bar-header bar-positive">
 <button class="button button-clear button-positive" ng-click="gobaacck()"><h2><i class="ion-arrow-left-c"></i></h2></button>
  <h1 class="title">Answer</h1>
</div>

<ion-content  class="has-subheader">
  

<div class="card " ng-show="alltterr">
<span style="color:red;font-size:17px;margin-left:12px;">Question:</span>
  <div class="item item-text-wrap" style="background:white;color:#cdc9ff;">
    {{commanswerss[0].question}}
    {{commanswerss.user_name}}
	
  </div>
</div>

<div class="card " ng-repeat="x in commanswerss">
<!-- <span style="color:red;font-size:17px;margin-left:12px;">Answer:</span> -->
  <div class="item item-text-wrap" style="background:white !important;color:#cdc9ff !important;font-size:15px !important;">
	<span class="abc">Expert Name : </span> {{x.user_name}}<br>
	
   <span class="abc">Answer : </span> {{x.answer== "undefined" ? " " : x.answer|htmlToPlaintext|removeHTMLTags}}<br>
    <span class="abc">Subject Matter : </span> {{x.community}}<br>
   
    
    <span class="abc">Suffix : </span> {{x.suffix}}<br>
	<span class="abc">Views : </span> {{x.views}}
    
  </div>
</div>
<div class="card " ng-show="alltterer">
  <div class="item item-text-wrap" style="background:white;color:#cdc9ff;">
    No Answer To this question right now.
  </div>
</div>



  </ion-content>

</div>
<style>
.abc{
	font-size:16px;color:red;

}


</style>
<!-- 
<ion-view view-title="Result">
  <ion-content ng-controller="que_ansCtrl" class="has-subheader">
  

<div class="card ">
  <div class="item item-text-wrap" >
    {{qu_an[0].question}}
  </div>
</div>
<div class="card " ng-repeat="x in qu_an">
  <div class="item item-text-wrap" >
    {{x.answer}}
  </div>
</div>




  </ion-content>
</ion-view> -->
