
 
 <ion-modal-view>
  <ion-header-bar  style="background:#0169b0;color:#fff !important;">
    <h1 class="title" style="left:30px;right:55px;">Ask Subject Matter Lecturer </h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closepop()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <div ng-controller="lec_termsandcond">
    <form ng-submit="lec_dosubmitqueez()" name="myfForm">
      <div class="list" >
        <label class="item item-input" style="background-color:white !important;color:#444 !important;">
          <span class="input-label">Question:</span>
          <input type="text" ng-model="loginData.ques" disabled>
		  
		  </label>
      
        <label class="item item-input" style="background-color:white !important;color:#444 !important;">
          <span class="input-label">Faculty:</span>
          <input type="text" ng-model="loginData.lecturer_fac" disabled>
           <input type="hidden" ng-model="loginData.lecturer_facValue" disabled>
        </label>
        <label class="item item-input" style="background-color:white !important;color:#444 !important;">
          <span class="input-label">Department:</span>
          <input type="text" ng-model="loginData.lecturer_dept" disabled>
          <input type="hidden" ng-model="loginData.lecturer_deptValue" disabled>
        </label>
        <label class="item item-input" style="background-color:white !important;color:#444 !important;">
          <span class="input-label">Specialization:</span>
          <input type="text" ng-model="loginData.lecturer_spec" disabled>
          <input type="hidden" ng-model="loginData.lecturer_specValue" disabled>
        </label>
        <input type="hidden" ng-model="loginData.lecturer_specValue" disabled>
		<label class="item item-input" style="background-color:white !important;color:#444 !important;">
          <span class="input-label">Username:</span>
          <input type="text" ng-model="loginData.stu_username" disabled>
        </label>
		<label class="item item-input" style="background-color:white !important;color:#444 !important;">
          <span class="input-label">Email:</span>
          <input type="text" ng-model="loginData.email" disabled>
        </label>
		<label class="item item-input" style="background-color:white !important;color:#444 !important;">
		<div class="input-label" ng-if="leclength >'0' " style="color:blue;"> <span>There are {{leclength}} lecturers in this Field.</span></div>
    <div class="input-label" ng-if="leclength =='0' "> There are no lecturers in this Field yet.</div>
		
		
	  </label> 
	  <!--<div class="list" ng-show="hello">

    <a class="item item-avatar" href="#" style="background-color:white !important;color:#444 !important;">
      <img src="http://www.hauduai.com.ng/{{speci_profile.user_image | imageempty}}">
      <h2>{{speci_profile.first_name}}&nbsp;{{speci_profile.last_name}}</h2>
      <p>{{speci_profilee.lec_qualificaton}}</p>
	  <p>{{infoto.description |htmlToPlaintext}}</p>
	  <h2>Question in Queue : {{count}}</h2>
	  <h2>Feedback Rating : {{userrate}}</h2> 
	 	  
	  <p></p> 
    </a>
    </div>-->
	
 <!-- <label class="checkbox" style=" margin-left: 16px;margin-top: 14px;       color: #444; width: 100%;">
  <ion-checkbox  checked="true" value="check" ng-model="termacond"> I agree to terms and conditions</ion-checkbox> 
</label> --> 
<!-- <input type="checkbox" ng-model="filter" value="tac" style="float:left;"><span style="font-size:17px;margin-left: 3%;"> <a href="http://www.hauduai.com.ng/pages/terms-and-conditions"  style="font-size:17px;">I agree to terms and condition</a></span> -->

        <label class="item"  style="background-color:white !important;color:#444 !important;">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
	</div>
  </ion-content>
</ion-modal-view>
<style>
#s{
margin-left:20px;
margin-top:10px;

}
</style>