<ion-view view-title="Result">
  <ion-nav-buttons side="primary" >
	 <a  ng-href="#/app/search" style="display:inline-block;color:#fff;position:fixed;left:10px;top:13px;" class="button-clear">
      <i class="icon ion-chevron-left" style="font-size:17px;"></i>
    </a>
 </ion-nav-buttons>
  <ion-content ng-controller="resultpieCtrl" class="has-subheader">
  <div class="card">
 
  <div class="itemm item-text-wrap" ng-repeat="x in comment_que " >
  {{x.question}}
  </div>
   
</div>
<div class="itemm item-text-wrap" >
  <p>Tap on section to see  value for</p><p> different result. <p>
  </div>
   <canvas id="pie" class="chart chart-pie"
  chart-data="data" chart-labels="labels">
</canvas> 


<div class="list">

  
{{getTotal()}}  

  <a class="itemm item-icon-left" href="#" ng-repeat="x in jointanswer">
 
    {{x.answer}}
	<span class="badge badge-assertive"> {{((x.count/totalvote)*100).toFixed(1)}}%</span>
    <!-- <span class="item-note">
     
    </span> -->
  </a>

 

</div>


  </ion-content>
</ion-view>
<style>

.bar-legend,
.line-legend,
.pie-legend,
.radar-legend,
.polararea-legend,
.doughnut-legend {
  list-style-type: none;
  margin-top: 5px;
  text-align: center;
  /* NOTE: Browsers automatically add 40px of padding-left to all lists, so we should offset that, otherwise the legend is off-center */
  -webkit-padding-start: 0;
  /* Webkit */
  -moz-padding-start: 0;
  /* Mozilla */
  padding-left: 0;
  /* IE (handles all cases, really, but we should also include the vendor-specific properties just to be safe) */
}
.chart-legend li,
.bar-legend li,
.line-legend li,
.pie-legend li,
.radar-legend li,
.polararea-legend li,
.doughnut-legend li {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: smaller;
  cursor: default;
}
.chart-legend li span,
.bar-legend li span,
.line-legend li span,
.pie-legend li span,
.radar-legend li span,
.polararea-legend li span,
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.itemm{
    border-color: #ddd !important;
    background-color: #fff !important;
    color: #444 !important;
    position: relative !important;
    z-index: 2 !important;
    display: block !important;
    margin: -1px !important;
    padding: 16px !important;
    border-width: 1px !important;
    /* border-style: solid; */
    font-size: 16px !important;
	overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    
}
a.itemm {
    color: inherit;
    text-decoration: none;
    
}
.badge.badge-assertive {
    background-color: #ef473a;
    color: #fff;
    float: right;
}
.title-left{
    text-align: center !important;
    color: #fff !important;
}
</style>