
<div class="list card">

 

  <div class="item item-body">
    <img class="full-image" src="img/logo.png">
    
  </div>

</div>
<div class="body" ng-controller="AppCtrl"> 
    <ion-list>
	<div class="margin">
      <button class="button button-outline but button-dark" ng-click="login()">Login</button>
	  <button class="button button-outline  but button-dark">Register</button>
	  </div>
    </ion-list>
  
<style>
.but{
    display: block;
    margin-right: 0;
    margin-left: 20%;
    border-right-width: 1px;
    border-left-width: 1px;
    border-radius: 6px;
	width:61%;
	margin-top:10px;
	color:red;
	border-color:red;

}
.margin{
	margin-top:60%;
	margin-bottom:10%;
}
<!-- .pane{
 background-image:url("img/bg.png");
} -->
</style>