<ion-view view-title="Recently Asked">
 <ion-nav-buttons side="primary" >
	 <a  ng-href="#/app/student_new" style="display:inline-block;color:#fff;position:fixed;left:10px;top:13px;" class="button-clear">
      <i class="icon ion-chevron-left" style="font-size:17px;"></i>
    </a>
 </ion-nav-buttons>
<ion-content  ng-controller="stu_ansctrl">
<br>
 <div class="list">
		<div class="item" style="background-color:white !important;">
		<div class="row">
			<!-- <img src="img/timthumb.jpg">&nbsp&nbsp; -->
		      <h2><span style="color:blue;font-size:17px;">The Question :</span> {{que.question}}</h2>
			</div>
			<form  name="myForm" ng-submit="doSubmit()" class="form-group"  novalidate>
		    <!--<div class="item item-input-inset" style="background-color:white !important;">
			 <div class="border">
		<textarea class="text" cols="20"  ng-model="answertyped" ng-model="{{answerqu}}" maxlength="{{answerqu}}" placeholder="Type your answer here.." ></textarea> 
		

	
</div> 
	
				<label class="item-input-wrapper"> 
				  <textarea row="30" col="8" class="full-width" ng-model="answertyped" placeholder="Answers"></textarea>
				 </label>                                          
				<button class="button button-small question" ng-disabled="myForm.$invalid" type="submit" style="height:-30px;font-size:15px;margin-left:25px;">
				  Submit
				</button>
			
			</div>-->

<div class="border">
	<div class="row">
	
  	<div class="" style="color:black;">
			<textarea cols="40" rows="10" class="text" ng-model="answertyped" placeholder="Type your answer here.."></textarea>
		</div>
	</div>
  
</div>

			</form>																						
			<div style="color:red;float:left">Characters Left: {{answerqu - answertyped.length}}  </div>
			<div class="row">
			  <a href="#/app/stu_quecom/{{aa}}">  <p><span>The Answer<span>: {{count_answeres}}</p></a>
		  </div>
	<form  name="myForm" ng-submit="doSubmit()" class="form-group"  novalidate>
		<div class="row">
			<button class="button button-small question" ng-disabled="myForm.$invalid" type="submit" style="height:-30px;font-size:15px;margin-left:25px;">
				  Submit
				</button>
			</div>
	</form>
	
	</div>
	</div>
	
	
</ion-content>
<!-- <div class="tabs">
	  <a href="#/app/new" class="tab-item clr">
		Recent Questions
	  </a>
	  <a href="#/app/mostresponse" class="tab-item clr">
		Most Responses
	  </a>
	  <a href="#/app/recentans" class="tab-item clr active">
		Recently Answered
	  </a>
	  <a  href="#/app/noans" class="tab-item clr">
		No Answers
	  </a>
	</div> -->
</ion-view >

<style>
 .bar .back-button.hide {
    display: inherit !important;
	color:white;
} 
.active{
	background-color:#0169b0;
}

</style>