<ion-view view-title="Ask Question">

	<ion-content ng-controller="BrowseCtrl">



<!-- <div class="button button-outline butt button-dark" ><h3>Hello {{name}} </h3><p>
		Ask your Question in One of these Community.
	</p></div> -->
	<br><br>
	<!-- <div class="border">
	<textarea class="text" cols="40" placeholder="Type your question here..">

	</textarea> 
	</div> -->
	
	<br>
	<br>

	
	<div class="text-center">
		<a class="ask" href="#/app/stu_ask_community">Ask Student Community</a>
		<br>
		<br>
		<br>
		
		<a class="ask" href="#/app/lecturer_ask">Ask a Lecturer</a>
	</div>

	
    <ion-list> 
	<!-- <div class="margin">
     <a href="#/app/ask_community">
	  <button class="button button-outline but button-dark" >Ask Hauduai Community Members</button>
	 </a>
	 <a href="#/app/ask_specialist">
	  <button class="button button-outline  but button-dark">Ask Hauduai Expert</button>
	 </a>
	  </div> -->
     </ion-list> 
         
	
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 <br>
	 
	 
							

			
		 
    </ion-content>
	
	<div class="tabs">
	  <a href="#/app/student_new" class="tab-item clr" style="background:#0065ff !important;color:#fff !important;">
		Recent Questions
	  </a>
	  <a href="#/app/stu_mostresponse" class="tab-item clr" style="background:#237bff !important;color:#fff !important;">
		Most Responses
	  </a>
	  <a href="#/app/stu_recents" class="tab-item clr" style="background:#0a6cff !important;color:white !important;">
		Recently Answered
	  </a>
	  <a  href="#/app/stu_noans" class="tab-item clr" style="background:#3a89ff !important;color:white !important;">
		No Answers
	  </a>
	</div>
	
	
</ion-view>

<style>
.but{
    display: block;
    margin-right: 0;
    margin-left: 20%;
    border-right-width: 1px;
    border-left-width: 1px;
    border-radius: 6px;
	width:61%;
	margin-top:10px;
	color:red;
	border-color:red;

}
.butt{
    display: block;
    margin-right: 0;
    margin-left: 2%;
    border-right-width: 1px;
    border-left-width: 1px;
    border-radius: 6px;
	width:96%;
	
	margin-top:9%;
	color:red;
	border-color:red;

}
.margin{
	margin-top:70%
}

a{
    text-decoration: none;
}
.title-left{
text-align:center !important;
color:white !important;
}
</style>
